.animate-main-container {

    display: flex;
    font-size: 12em;
    font-weight: 700;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10%);

    .animate-main-item {
        transform: translateY(0);

        &:hover {
            transform: translateY(-40px);
            transition: 0.5s cubic-bezier(0.515, 0.610, 0.355, 1);
        }
    }
}